extends layouts/main

block content 
    .form-container
        form(action=routes.editProfile, method="post")
            lable(for="avatar") 회원정보
            input(type="file", id="avatar", name="avatar")
            input(type="text", placeholder="이름", name="name")
            input(type="email", placeholder="이메일" name="email")
            input(type="submit", value="프로필 업데이트하기")
        a.form-container__link(href=`/users${routes.changePassword}`) 비밀번호 변경하기